<HTML>
	<HEAD>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>URL Shortener Service</title>
	    <script src="https://kit.fontawesome.com/a8a2a9bcbd.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css" href="/styles.css">
	</HEAD>
	<BODY>
		<div id="app-container">
			<h1>URL Shortener Service</h1>
				<p>
					Enter a URL to shorten below.
				</p>
			<div id="form-container">
				<form class="input-form" method="POST" action="https://urlshortener-dot-pf-file-metadata.ts.r.appspot.com/api/shorturl/new">
					<label for="url-input" id="form-label">URL: </label>
					<input id="url-input" name="url" type="text" placeholder="enter url to be shortened">
					<input id="submit" type="submit" value="POST URL">
				</form>
			</div>
			<div id="contact">
				<p>Presented by paul.</p>
				<a href="https://www.freecodecamp.org/pauliefin" class="link-container"><i class="fab fa-free-code-camp"></i></a>
				<a href="https://codepen.io/peacha" class="link-container"><i class="fab fa-codepen"></i></a>
				<a href="https://github.com/Peacha" class="link-container"><i class="fab fa-github"></i></a>
				<a href="https://twitter.com/thepeacha" class="link-container"><i class="fab fa-twitter"></i></a>
			</div>
		</div>
	</BODY>
</HTML>